@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Playfair+Display:ital@1&family=Quicksand:wght@700&family=Raleway:ital,wght@1,100&family=Work+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Playfair+Display:ital@1&family=Quicksand:wght@700&family=Raleway:ital,wght@1,100&family=Sansita+Swashed:wght@300..900&family=Work+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Playfair+Display:ital@1&family=Quicksand:wght@700&family=Raleway:ital,wght@1,100&family=Rubik+Scribble&family=Sansita+Swashed:wght@300..900&family=Work+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(21, 21, 43);
    height: 100vh;
}
header{
    /* font-family: "Sansita Swashed", system-ui; */
    font-family: "Rubik Scribble", system-ui;
    font-weight: 200;
    color: white;
    /* background: rgb(229, 224, 224); */
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    width:50%;
    align-self: center;
}
header > h1{
    color: rgb(131, 125, 125);
    text-align: center;
    /* font-family: Asap, sans-serif; */
}
.score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px, 20px;
    position: relative;
}
.badge
{
    background-color: rgb(213, 70, 70);
    color: rgb(219, 212, 212);
    padding: 2px 10px;
    /* border-radius: 5px; */
    /* margin: 0 5px; */
    font-size: 14px;
}

#user-badge{
    position: absolute;
    top:15px;
    left: -20px;  
}
#computer-badge{
    position: absolute;
    top:15px;
    right: -30px;  
}

.result
{
    text-align: center;
    font-size: 30px;
    color: rgb(239, 228, 228);
}
.result > p{
    font-family: "Kalam", cursive;
    text-align: center;
    font-weight: bold;
    
}
.result > mytext{
    font-family: "Kalam", cursive;
    text-align: center;
    font-weight: bold;
    
}
img
{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
}

.choices
{
    margin: 20px 0px;
    text-align: center;
}
.choice
{
    border: 3px solid grey;
    border-radius: 10px;
    margin: 0 15px;
    /* border-radius: 50%; */
    padding:10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover
{
    cursor: pointer;
    background: rgb(66, 62, 62);
}

#action-message
{
    font-family: "Kalam", cursive;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    font-weight: 400;
}
.green-glow
{
    border: 3px solid green;
    box-shadow: 0 0 10px rgb(64, 91, 64);
    /* horizontal-offset | vertical-offset | blur-radius | spread-radius(optional) | color */
}
.red-glow
{
    border: 3px solid red;
    box-shadow: 0 0 10px rgb(152, 76, 76);
}
.grey-glow
{
    border: 3px solid rgb(203, 203, 116);
    box-shadow: 0 0 10px rgb(143, 115, 69);
}
table
{
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    /* border: 2px solid white; */
    color: white;
}
th, td
{
    font-family: "Kalam", cursive;
    font-size: 20px;
    font-weight: 600;
    /* border: 2px solid white; */
    padding: 10px;
    text-align: center;
}
.modal
{
    justify-content: center;
}
.refresh{
    padding:7px;
    font-size: 20px;
    font-weight: bold;
    margin:20px;
    cursor: pointer;
}
.refresh:hover{
    color:#FF9811;
}
